:root{
    box-sizing: border-box;
  }

  *{
    margin: 0;
    padding: 0;
  }

  .page {
    height: 4000px;
    background-color: #14213d;
    display: block;
    }

  .fixed-header {
    margin: 0;
    padding: auto;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
    padding-bottom: 80px;
  }

  .top-line{
    display: flex;
    background-color: #131c24;
    height: 59px;
    color: #f2f2f2;
    align-items: center;
    justify-content: left;
  }

  .top-menu-feat {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-left: 30px;
  }

  .top-menu-feat a{
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: #f2f2f2;
    font-size: 16px;
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .top-menu-feat a:hover{
    background: #fca311;
  }
  
  .menuItem {
    align-items: center;
    position: relative;
    text-align: center;
    text-decoration: none;
    color: #f2f2f2;
    font-size: 45px;
    display: flex;
    width: 100%;
    height: 60px
  }
  
  .subMenu {
    align-items: center;
    position: absolute;
    background-color: gainsboro;
    top: 100%;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    transform: scaleY(0);
    transform-origin: top;
    display: flex;
    flex-direction: column;
  }
  
  .subMenu a {
    margin: 0px 5;
    width: 200px;
    color: #14213d;
  }

  .subMenu a:hover{
    background: #fca311;
  }
  
  .menuItem:hover .subMenu {
    opacity: 1;
    transform: scaleY(1);
  }

  .logo{
    padding-left: 25px;
    width: 44px;
    height: auto;
  }

  .logo:hover{
    filter: invert(25%);
  }

  .bottom-line{
    padding-top: 3px;
    padding-bottom: 5px;
    background-color: #14213d;
    height: auto;
    font-size: 8px;
    color: #f2f2f2;
    text-orientation: upright;
  }

  .menu {
    display: flex;
  }
  
  .menu a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: #f2f2f2;
    font-size: 16px;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .menu a:hover {
    background-color: black;
  } 
